<div class="container-fluid">
    <div class="row">
        <navbar></navbar>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <section class="panel panel-default">
                        <div class="panel-heading">
                            <h2>Search filters</h2>
                        </div>
                        <div class="panel-body">
                            <artist-list artists="model.artists" on-search="model.textSearch(search)"></artist-list>
                        </div>
                    </section>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <search-results results="model.results"></search-results>
                </div>
            </div>
        </div>
    </div>
</div>
