<nav class="navbar navbar-inverse">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Righteous Grooves</a>
        </div>
        <div class="nav navbar-nav navbar-right">
            <form class="">
                <input type="text" class="form-control" placeholder="Search" ng-model="model.results" ng-model-options="{ debounce: 800 }">
            </form>
        </div>
    </div>
</nav>
