$bgDark: #1f1f1f;

html,
body {
    background: $bgDark;
    margin: 0;
    padding: 0;
    height: 100%;
}

img {
    max-width: 100%;
}

.navbar-brand {
    height: auto;
}

.navbar-right {
    margin: 10px 0;
    width: 80%;
}

select {
    width: 100%;
}